@{
    Layout = null;
    var supportedLocale = new List<string>()
        {
            "en",
            "ro"
        };
    var acceptedLocale = Request.UserLanguages;
  
    var appFileSufix = "en";
    var extJsFileSufix = "en";
    
    foreach (var acceptLocale in acceptedLocale)
    {
        var innerAcceptLocale = acceptLocale;
        // strip the weight if it exists
        if (acceptLocale.Contains(";"))
        {
            innerAcceptLocale = acceptLocale.Split(Convert.ToChar(";"))[0];
        }

        if (supportedLocale.Contains(innerAcceptLocale))
        {
            appFileSufix = innerAcceptLocale;
            extJsFileSufix = innerAcceptLocale;
            if (acceptLocale.Contains("-"))
            {
                extJsFileSufix = extJsFileSufix.Replace("-", "_");
            }
            break;
        }
    }
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Scripts/extjs/resources/css/ext-all-neptune.css" rel="stylesheet" />
    <link href="~/Scripts/bryntum/resources/css/sch-all-neptune.css" rel="stylesheet" />
    <link href="~/Resources/site.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/lib/JSV.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/q.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/moment.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/extjs/ext-debug.js"></script>*@
    <script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/4.2.1/ext-all.js"></script>
    <script type="text/javascript" src="~/Scripts/bryntum/sch-all-debug.js"></script>
    
    @* This script right here, will be added dynamically from the server based on request headers, user selected language, etc *@
    @{
        var appResourcePath = "scripts/app/resources/Resources." + appFileSufix + ".js";
        var extJsLocalePath = "scripts/extjs/locale/ext-lang-" + extJsFileSufix + ".js";
        <script type="text/javascript" src="@appResourcePath"></script>
        <script type="text/javascript" src="@extJsLocalePath"></script>
    }
    @*<script type="text/javascript" src="~/Scripts/app/resources/Resources.ro-RO.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/extjs/locale/ext-lang-ro.js"></script>*@
    
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</head>
<body>

</body>
</html>
