@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Scripts/extjs/resources/css/ext-all-neptune.css" rel="stylesheet" />
    <link href="~/Resources/site.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/lib/JSV.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/q.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lib/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/extjs/ext-debug.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</head>
<body>

</body>
</html>
