<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    
    <link href="~/Scripts/extjs/resources/css/ext-all-neptune.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
