<div class="head-companies">
    <div class="head-middle-companies"></div>
</div>

<div class="wrapper-companies">

    <div class="wrapper-content">
        <h1>Companies. Why <span>Eduali?</span></h1>
        <p>As a company offering education services, with Eduali you are benefiting of "all-in-one" management for your activities, documents, analyitics, planning, etc. Eduali is everything you need for your day to day business.</p>
    </div>

    <div class="wrapper-highlight">
        <div class="wrapper-highlight-content">
            <p>Managing education services like: public trainings, private trainings, on site courses, etc requires involvement of several parties: students, trainers (internal/external), training companies, consumer of trainings (customers), location managers. Eduali is designed to help you managing this complexity. In the same time you have all the flexibility in defining your specific needs: subjects, grading system, resource types, etc.</p>
        </div>
    </div>

</div>
