<div class="head-companies">
    <div class="head-middle-companies"></div>
</div>

<div class="wrapper-companies">

    <div class="wrapper-content">
        <h1>Companies. Why <span>Eduali?</span></h1>
        <p>Firm that invests the pooled funds of retail investors for a fee. By aggregating the funds of a large number of small investors into a specific investments (in line with the objectives of the investors), an investment company gives individual investors access to a wider range of securities than the investors themselves would have been able to access. Also, individual investors should be able to save on trading costs since the investment company is able to gain economies of scale in operations.</p>
    </div>

    <div class="wrapper-highlight">
        <div class="wrapper-highlight-content">
            <p>Generally, the primary concern of an investor is to minimize risk while maximizing return, as opposed to a speculator, who is willing to accept a higher level of risk in the hopes of collecting higher-than-average profits.</p>
        </div>
    </div>

</div>
