<div class="head-customers">
    <div class="head-middle-customers"></div>
</div>

<div class="wrapper-customers">

    <div class="wrapper-content">
        <h1>Customers <span>Success</span></h1>
        <p>You are a Customer of one of many Companies that have joined The Education Alliance. You are a Training Consumer because you have training needs. Eduali is an "all-in-one" tool that helps you find suited trainings for your employees, get offers from different Companies, engage your employees in trainings and follow up on their progress. All this on line, anytime, anywhere and totally secure.</p>
    </div>

    <div class="wrapper-highlight">
        <div class="wrapper-highlight-content">
            <p>Eduali has been started from the requests: "Customers need to see how their employees sent to trainings are doing", "Customers need to receive at the end of the training a package containing the information gathered during the training". In Eduali the focus is on the Customer needs. The needs have been identified by Companies offering Education Services (trainings).</p>
        </div>
    </div>

</div>
