<div class="head-customers">
    <div class="head-middle-customers"></div>
</div>

<div class="wrapper-customers">

    <div class="wrapper-content">
        <h1>Customers <span>Success</span></h1>
        <p>A customer may or may not also be a consumer, but the two notions are distinct, even though the terms are commonly confused. A customer purchases goods; a consumer uses them. An ultimate customer may be a consumer as well, but just as equally may have purchased items for someone else to consume. An intermediate customer is not a consumer at all.The situation is somewhat complicated in that ultimate customers of so-called industrial goods and services.</p>
    </div>

    <div class="wrapper-highlight">
        <div class="wrapper-highlight-content">
            <p>A customer may or may not also be a consumer, but the two notions are distinct, even though the terms ar  e commonly confused. A customer purchases goods; a consumer uses them. </p>
        </div>
    </div>

</div>
