<div class="head-home">
    <div class="head-hero">
        <div class="container head-relative">
            <div class="head-hero-grow"></div>
            <div class="head-hero-available"></div>
        </div>
    </div>
</div>

<div class="container">

    <div class="index-badges">
        <p class="learn-more">LEARN MORE</p>
        <div class="badges-container">
            <a href="~/trainings" class="index-badge badge-trainings">Trainings</a>
            <a href="~/customers" class="index-badge badge-customers">Customers</a>
            <a href="~/companies" class="index-badge badge-companies">Companies</a>
            <a href="~/students" class="index-badge badge-students">Students</a>
            <a href="~/trainers" class="index-badge badge-trainers">Trainers</a>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
