<div class="head-students">
		<div class="head-middle-students"></div>
	</div>
	
	<div class="wrapper-students">
		
		<div class="wrapper-content-big">
			<div class="wrapper-content">
				<h1>How <span>you can benefit</span></h1>
				<p>As a student you want an "all-in-one" tool to access your training material, see the trainer's remarks, check your planning. Eduali is supporting you with all these tasks.</p>
			</div>
		</div>
		
		<div class="wrapper-highlight">
			<div class="wrapper-highlight-content">
				<p>Eduali has been designed with the needs in mind of the student, trainer, training company and training consumer. Students can use Eduali not only to manage trainings where they are already enroled but also to search for new public trainings published by all Customers that are part of The Education Alliance (EDUALI).</p>
			</div>
		</div>
		
	</div>
