<div class="head-students">
		<div class="head-middle-students"></div>
	</div>
	
	<div class="wrapper-students">
		
		<div class="wrapper-content-big">
			<div class="wrapper-content">
				<h1>How <span>you can benefit</span></h1>
				<p>In the UK, a student is someone who is studying at university or college. A child at school is usually called a pupil. In the US, student can refer to anyone who is studying at school or university. . Also, individual investors should be able to save on trading costs since the investment company is able to gain economies of scale in operations.</p>
			</div>
		</div>
		
		<div class="wrapper-highlight">
			<div class="wrapper-highlight-content">
				<p>Generally, the primary concern of a student is to minimize risk while maximizing xxxx, as opposed to a xxxxxxx who is willing to accept a higher level of risk and is studying for an advanced degree. In the US, you would call this person a graduate student.</p>
			</div>
		</div>
		
	</div>