<div class="head-trainers">
    <div class="head-middle-trainers"></div>
</div>

<div class="wrapper-trainers">

    <div class="wrapper-content-big">
        <div class="wrapper-content">
            <h1>Your trainer <span>anytime</span></h1>
            <p>In the UK, a student is someone who is studying at university or college. A child at school is usually called a pupil. In the US, student can refer to anyone who is studying at school or university. . Also, individual investors should be able to save on trading costs since the investment company is able to gain economies of scale in operations.</p>
        </div>
    </div>

    <div class="wrapper-highlight">
        <div class="wrapper-highlight-content">
            <p>A course evaluation is a paper or electronic questionnaire, which requires a written or selected response answer to a series of questions in order to evaluate the instruction of a given course. The term may also refer to the completed survey form or a summary of responses to questionnaires.</p>
        </div>
    </div>

</div>
