<div class="head-trainers">
    <div class="head-middle-trainers"></div>
</div>

<div class="wrapper-trainers">

    <div class="wrapper-content-big">
        <div class="wrapper-content">
            <h1>Trainers <span>anywhere</span></h1>
            <p>As a trainer you want to use an one tool to manage your trainings: define classes, grading students, publish training materials, indicate availability. Eduali is helping you with all these tasks. You want to access the details of your trainings anytime, anywhere from your laptop or mobile. That's what Edulai is created for.</p>
        </div>
    </div>

    <div class="wrapper-highlight">
        <div class="wrapper-highlight-content">
            <p>Independent of being a freelance or hired trainer you need structure for your day to day training activities. Eduali has been created to support the new way of working in which flexibility is the central point.</p>
        </div>
    </div>

</div>
