@model Eduali.WebPresentation.Models.TrainingModel[]

<div class="head-trainings">
    <div class="head-middle-trainings"></div>
</div>

<div class="search-bar">
    <div class="container">
        <form action="">
            <input type="text" name="" placeholder="Search by course name, category, or trainer" />
            <button type="submit">Search</button>
        </form>
    </div>
</div>

<div class="wrapper-trainings">
    <div class="container">
        <div class="filter-results">
            <h3>Search by</h3>
            <ul>
                <li class="checked">
                    <input type="checkbox" checked="checked">
                    <label>All languages</label>
                </li>
                <li>
                    <span>548</span>
                    <input type="checkbox">
                    <label>English</label>
                </li>
                <li>
                    <span>123</span>
                    <input type="checkbox">
                    <label>French</label>
                </li>
                <li>
                    <span>11</span>
                    <input type="checkbox">
                    <label>Chinese</label>
                </li>
            </ul>

            <ul>
                <li class="checked">
                    <input type="checkbox" checked="checked">
                    <label>All categories</label>
                </li>
                <li>
                    <span>123</span>
                    <input type="checkbox">
                    <label>Arts</label>
                </li>
                <li>
                    <span>123</span>
                    <input type="checkbox">
                    <label>Business</label>
                </li>
            </ul>
        </div>

        <div class="courses-table">
            <div class="courses-table-header">
                <h3>Trainings</h3>
            </div>

            @foreach (var training in Model)
            {
                <div class="course">
                    <div class="left-info">
                        <h3><a href="#">@training.Name</a></h3>
                        <p><strong>Trainer:</strong> @training.TrainerName</p>
                    </div>
                    <div class="right-info">
                        @*March 24, 2014*@
                        <p><strong>@training.StartDate</strong></p>
                        <p><em>@training.DurationInDays days long</em></p>
                    </div>
                </div>    
            }

        </div>
    </div>
</div>
