<html>
<body>
    An account has been created for you on Eduali,
    please click the link below to set your password and initialize your account.
    
    <a href="@Model.InitPasswordUrl">@Model.InitPasswordUrl</a> 
    
    If clicking the link above doesn't work, please copy and paste the URL in a
    new browser window instead.
    
    Note: This email address cannot accept replies.
</body>
</html>
