<html>
<body>
    An account has been created for you on Eduali,<br />
    please click the link below to set your password and initialize your account.<br />
    <br />
    <a href="@Model.InitPasswordUrl">@Model.InitPasswordUrl</a><br />
    <br />
    If clicking the link above doesn't work, please copy and paste the URL in a<br />
    new browser window instead.<br />
    <br />
    Note: This email address cannot accept replies.<br />
    <br />
    Your Eduali team
</body>
</html>
