<html>
<body>
    To initiate the password reset process for your <br />
    @Model.Email account, click the link below:<br />
    <br />
    <a href="@Model.ResetUrl">@Model.ResetUrl</a><br />
    <br />
    If clicking the link above doesn't work, please copy and paste the URL in a<br />
    new browser window instead.<br />
    <br />
    Note: This email address cannot accept replies.<br />
    <br />
    Your Eduali team
</body>
</html>
