<html>
<body>
    Someone tried to reset a password for this email on our website.
    
    https://www.eduali.com
    
    We tought you should know.
    
    Note: This email address cannot accept replies.
</body>
</html>
