<html>
<body>
    Someone tried to reset a password for this email on our website.<br />
    <br />
    https://www.eduali.com
    <br />
    We tought you should know.
    <br />
    Note: This email address cannot accept replies.<br />
    <br />
    Your Eduali team
</body>
</html>
