
/* Grid show/hide buttons */
.add-col {
    background-image: url('../images/web/add.png');
}

.view-col {
    background-image: url('../images/web/view.png');
}

/* Grid complete/pending row indicator */
.grid-row-complete {
    color: green;
}

.grid-row-pending {
    color: red;
}
/* Settings - Left list */
.settings-item {
    margin-top: 3px;
    padding-left: 20px;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #fff;
}

.settings-list-item-hover {
    background-color: #eee;
}

.settings-list .x-item-selected {
    font-weight: bold;
    color: #15428B;
    background-color: #DFE8F6;
    border: 1px dotted #A3BAE9;
}

/* Scheduler - Events */
.disabled { 
    background-color: #7F7F7F;
}

/* Scheduler - toolbar */
.go {
    background-image: url(../images/scheduler/go.png);
}

.icon-calendar {
    background-image: url(../images/scheduler/calendar.png);
}

.icon-zoom-in {
    background-image: url(../images/scheduler/zoom_in.png);
}

.icon-zoom-out {
    background-image: url(../images/scheduler/zoom_out.png);
}

.icon-left {
    background-image: url(../images/scheduler/arrow_left.png);
}

.icon-right {
    background-image: url(../images/scheduler/arrow_right.png);
}
