
/* Grid show/hide buttons */
.add-col {
    background-image: url('../images/web/add.png')
}
.view-col {
    background-image: url('../images/web/view.png')
}

/* Grid complete/pending row indicator */
.grid-row-complete {
    color:green
}

.grid-row-pending {
    color:red
}