
/* Grid show/hide buttons */
.add-col {
    background-image: url('../images/web/add.png');
}

.view-col {
    background-image: url('../images/web/view.png');
}

/* Grid complete/pending row indicator */
.grid-row-complete {
    color: green;
}

.grid-row-pending {
    color: red;
}
/* Settings - Left list */
.settings-item {
    margin-top: 3px;
    padding-left: 20px;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #fff;
}

.settings-list-item-hover {
    background-color: #eee;
}

.settings-list .x-item-selected {
    font-weight: bold;
    color: #15428B;
    background-color: #DFE8F6;
    border: 1px dotted #A3BAE9;
}

/* Scheduler - Events */
.disabled { 
    background-color: #7F7F7F;
}

/* Scheduler - toolbar */
.go {
    background-image: url(../images/scheduler/go.png);
}

.icon-calendar {
    background-image: url(../images/scheduler/calendar.png);
}

.icon-zoom-in {
    background-image: url(../images/scheduler/zoom_in.png);
}

.icon-zoom-out {
    background-image: url(../images/scheduler/zoom_out.png);
}

.icon-left {
    background-image: url(../images/scheduler/arrow_left.png);
}

.icon-right {
    background-image: url(../images/scheduler/arrow_right.png);
}

.icon-delete {
    background-image: url(../images/web/remove.png);
}

.icon-info {
    background-image: url(../images/web/info.png);
}

.icon-add {
    background-image: url(../images/web/add.png);
}

.icon-book {
    background-image: url(../images/web/book.png);
}

.icon-task {
    background-image: url(../images/web/task.png);
}

.icon-task-32 {
    background-image: url(../images/web32/task.png);
}

.icon-book-32 {
    background-image: url(../images/web32/book.png);
}

.icon-customer-32 {
    background-image: url(../images/web32/customer.png);
}

.icon-availability-32 {
    background-image: url(../images/web32/availability.png);
}

.icon-planning-32 {
    background-image: url(../images/web32/planning.png);
}

.icon-settings-32 {
    background-image: url(../images/web32/settings.png);
}

.icon-statistics-32 {
    background-image: url(../images/web32/statistics.png);
}

.icon-student-32 {
    background-image: url(../images/web32/student.png);
}

.icon-trainer-32 {
    background-image: url(../images/web32/trainer.png);
}

.icon-avatar-64 {
    background-image: url(../images/web64/avatar.png);
}

/* Slider - Highlight */
.ext-ux-slider-highlight { 
    position: absolute;
    overflow:hidden;
    width: 100%;
}

.ext-ux-slider-inner-highlight {
    height: 7px;
}

.x-slider-vert .ext-ux-slider-highlight {
    width:7px;
    left:4px;
}

.x-slider-horz .ext-ux-slider-highlight {
    height:7px;
    top:4px;
}


/* Custom buttons */
.clean-button {
    border-radius: 0;
    background-image: none !important; /* This is a fix for IE */
    border: 0;
    background-color: white;
}